<?xml version="1.0"?>
<yandex>
    <remote_servers>
        <ontime_cluster>
            <shard>
                <replica>
                    <default_database>r0</default_database>
                    <host>ch-server-1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <default_database>r1</default_database>
                    <host>ch-server-3</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <replica>
                    <default_database>r0</default_database>
                    <host>ch-server-2</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <default_database>r1</default_database>
                    <host>ch-server-1</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <replica>
                    <default_database>r0</default_database>
                    <host>ch-server-3</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <default_database>r1</default_database>
                    <host>ch-server-2</host>
                    <port>9000</port>
                </replica>
            </shard>
        </ontime_cluster>
    </remote_servers>
    <zookeeper-servers>
        <node>
            <host>zookeeper</host>
            <port>2181</port>
        </node>
    </zookeeper-servers>
</yandex>
